body{
    background-image: linear-gradient(to rigth,)
    
    
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(0, 17, 255);
}

div{
    text-align: center;
}